{% extends 'base.html' %}
{% block title %}|Applications {% endblock %}
{% block body %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>AppName</th>
            <th>Content</th>
            <th>Owner</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>nbads-merger</td>
            <td>a part of ad search engine</td>
            <td>stonenice</td>
            <td>
                <button>See App Code</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}